body {
    margin: 0px;
    font-family: 'Cinzel', serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

// Font Options:
// Italic-  font-family: 'Beau Rivage', cursive;
// CAPS-  font-family: 'Cinzel', serif;
// Normal-  font-family: 'Cormorant Garamond', serif;