.homepage-wrapper {
    display: grid;
    grid-template-columns: 1fr;

    .filter-wrapper {
        width: 100vw;
        display: flex;
        justify-content: center;

        .filter-btn {
            width: 100%;
        }
    }
}