.rdw-editor-wrapper {
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    .demo-editor {
        padding:20px;
    }
}

.rdw-image-modal {
    left: -200px;
}

.rdw-link-modal {
    left: -200px;
}